<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @phone.person %>
</p>

<p>
  <strong>Phone type:</strong>
  <%= @phone.phone_type %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @phone.phone %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
