<p id="notice"><%= notice %></p>

<h1>Listing Email Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_types.each do |email_type| %>
      <tr>
        <td><%= email_type.name %></td>
        <td><%= link_to 'Show', email_type %></td>
        <td><%= link_to 'Edit', edit_email_type_path(email_type) %></td>
        <td><%= link_to 'Destroy', email_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email type', new_email_type_path %>
