<p id="notice"><%= notice %></p>

<h1>Listing Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Address type</th>
      <th>Line 1</th>
      <th>Line 2</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.person %></td>
        <td><%= address.address_type %></td>
        <td><%= address.line_1 %></td>
        <td><%= address.line_2 %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.postal_code %></td>
        <td><%= address.country %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
