<p id="notice"><%= notice %></p>

<h1>Listing Emails</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Email type</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.person %></td>
        <td><%= email.email_type %></td>
        <td><%= email.email %></td>
        <td><%= link_to 'Show', email %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path %>
